@keyframes popin {
    0% { transform: scale3d(0.01,0.01,1); }
    100% { transform: scale3d(1,1,1); }
}




#gallery {
    
    position: relative;
    
    .flexbox(row);
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-content(flex-start);
    
    padding: @defaultPadding;
    padding-left: 0;
    
    .thumbsInEachRow(@num: 4) {
        @width: (100% / @num);
        .thumb {
            .flex-basis( @width );
        }
    }
    
    .thumbsInEachRow( 4 );
    
    .thumb {
        // To keep proportional gutters (basic grid system)
        margin: 0 0 @defaultPadding;
        padding-left: @defaultPadding;
        
        position: relative;
        overflow: hidden;
        cursor: pointer;
        
        animation-name: popin;
        animation-duration: 0.35s;
        
        // &:hover {
        //     .metadata { opacity: 1; bottom: 0; }
        // }
        
        // .thumb-img {
        //     position: relative;
        // }
        
        img {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            .rounded(.3em);
        }
        
        // .metadata {
        //     color: @white;
        //     .bold;
        //     position: absolute;
        //     bottom: -10px;
        //     right: 0;
        //     opacity: 0;
        //     padding: .75em 1em;
        //     font-size: 0.85em;
        //     transition: all 0.15s ease-out;
        //     @media @child {
        //         opacity: .9;
        //         bottom: 0;
        //         text-shadow: 0 1px 0 rgba(0,0,0,0.8),
        //                      0 0 3px rgba(0,0,0,0.25);
        //     }
        // }
        
        // .meta-icon {
        //     display: inline-block;
        //     vertical-align: middle;
        //     margin: 0 .3em 0 1em;
        //     line-height: 1;
        //     font-size: 1.1em;
        //     .icon {
        //         font-size: 1.4em;
        //         margin-top: -3px;
        //         vertical-align: baseline;
        //     }
        //     .icon-comment {
        //         margin-right: 1px;
        //     }
        // }
        
        // .thumb-caption {
        //     display: block;
        //     padding: 5px 0;
        //     white-space: nowrap;
        //     overflow-x: hidden;
        //     text-overflow: ellipsis;
        // }
    }
    
    @media @adult  {
        .thumbsInEachRow( 5 );
    }
    
    @media @teen   {
        .thumbsInEachRow( 3 );
    }
    
    @media @child  {
        .thumbsInEachRow( 2 );
    }
    @media @baby   {
        .thumbsInEachRow( 1 );
    }
}