* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
}

.hide {
    display: none;
}

img {
    background: #eee;
}

#container {
    margin: 0 auto;
    max-width: @maxContentWidth;
    z-index: 1;
}