// Lightbox
#lightbox {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width:  100vw;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: @darkGrey;
    
    .viewer {
        position: relative;
        width: 85%;
        height: 90vh;
        // height: 90vh;
        // background-color: @white;
        // padding: 1em;
        // border-radius: 1em;
        // flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        
        #closeLightbox {
            flex: 0 0 auto;
        }
        
        .lb-photo {
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            position: relative;
            // align-items: center;
            justify-content: space-between;
            background: #fff;
            width: 100%;
            padding: 1em;
        }
        
        .lb-img, .lb-caption {
            // width: 100%;
        }
        
        .lb-img {
            flex: 0 1 auto;
            // min-width: 500px;
            background: black;
            // background-image: url(https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s640x640/e35/sh0.08/1389173_1662611963971056_1288805771_n.jpg);
            // border: 1px solid red;
        }
        
        .lb-caption {
            flex: 1 0 auto;
            padding: 0.5em 0;
            text-align: left;
        }
        img {
            margin: 0;
            max-width: 100%;
            max-height: 500px;
            // display: inline-block;
            // flex: 0 1 auto;
            // max-width: 100%;
            // margin: 0 auto;
            // max-height: 100%;
            // width: auto;
        }
        
        .lb-caption {
            // background: red;
        }
        
        .lb-photo, .rail {
            // border: 1px solid red;
        }
        
        .rail {
            display: flex;
            // flex: 0 0 auto;
            // flex-direction:
            // align-items: stretch;
            justify-content: center;
            &.left { margin-right: auto; }
            &.right { margin-left: auto; }
            .arrow { margin-top: auto; margin-bottom: auto; }
        }
    }
    
    &.hidden { display: none }
}

.arrow {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 3em;
    // height: 100%;
    background-color: rgba(255,255,255,0.5);
    background-image: url('/images/arrow-up-c.svg');
    background-size: auto 100%;
    background-repeat: none;
    
    &.right { .rotate(90deg) }
    &.left { .rotate(-90deg) }
}