.backdrop {
    position: fixed;
    top: 0; left: 0;
    
    height: 100vh;
    width:  100vw;
    
    .flexbox();
    .align-items(center);
    .justify-content(center);
    
    background: @lb_backgroundColor;
    color: @darkGrey;
    z-index: 100;
}

.user-info {
    text-align: center;
    
    padding: @defaultPadding;
    border-bottom: 1px solid @borderColor;
    // margin-bottom: @defaultPadding;
    
    .ui--user {
        .clearfix;
    }
    
    img { 
        height: 7em;
        border-radius: 100%;
    }
    
    h1 {
        margin: 0.2em 0 0;
    }
    
    .user-counts {
        margin: .5em 0 0;
        span { display: inline-block; }
        span:not(:last-child):after {
            display: inline-block;
            content: '•';
            margin: 0 .5em;
            color: @borderColor;
            // opacity: 0.5;
            // font-size: 0.5em;
            // vertical-align: middle;
        }
    }
    
    @media @child {
        font-size: 80%;
    }
}


.auth-box {
    @width: 25em;
    .center;
    position: fixed;
    width: @width;
    height: auto;
    top: 30%; left: 50%;
    margin-left: -@width / 2;
    background: #fff;
    border-radius: 10px;
    color: @darkGrey;
    padding: 3em;
    transition: all 0.1s ease-out;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    
    &.hidden {
        transform: scale3d(0.25, 0.25, 1);
        opacity: 0;
    }
}