@font-face {
    font-family: "Lato";
    src: url('/fonts/Lato-Regular.eot');
    src: url('/fonts/Lato-Regular.eot?#iefix') format("embedded-opentype"),
         url('/fonts/Lato-Regular.woff') format("woff"),
         url('/fonts/Lato-Regular.ttf')  format("truetype"),
         url('/fonts/Lato-Regular.svg#LatoRegular') format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    // font-family: "Lato";
    font-family: "LatoBold";
    src: url('/fonts/Lato-Bold.eot');
    src: url('/fonts/Lato-Bold.eot?#iefix') format("embedded-opentype"),
         url('/fonts/Lato-Bold.woff') format("woff"),
         url('/fonts/Lato-Bold.ttf')  format("truetype"),
         url('/fonts/Lato-Bold.svg#LatoBold') format("svg");
    font-style: normal;
    font-weight: 700;
}

body {
    color: #f1f1f1;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-weight: 700;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #333;
    // color: #fff;
    // text-shadow: 0 2px 0 rgba(0,0,0,1);
}

.light {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.bold {
    font-family: "LatoBold", sans-serif;
    font-weight: 700;
}

h1,h2,h3,p {
    margin-top: 0;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

p {
    font-size: 1.1em;
}

.center {
    text-align: center;
}

a {
    .bold;
    color: @primaryColor;
    text-decoration: none;
    &:hover { color: darken(@primaryColor, 10%); }
}

code {
    background: #eee;
    padding: 0 .25em;
    margin:  0 .15em;
    font-size: 1rem;
    vertical-align: baseline;
}

.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 3px;
    // &:first-child { margin-left: 0 }
}