body.loading {
  overflow: hidden;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1000;
  text-align: center;
  background: #fff;
  opacity: 1;
  animation: reveal 0.16s ease-out;
  animation-fill-mode: forwards;
}
.loader.hidden {
  animation: disappear 0.36s ease-out;
  animation-fill-mode: forwards;
}
.loader .loading-text {
  border: 1px solid red;
  padding: 3em;
}
.loader h1 {
  position: relative;
}
.loader h1:after {
  position: absolute;
  content: ' ';
  text-align: left;
  bottom: 0;
  right: -0.7em;
  width: .65em;
  letter-spacing: 0.05em;
}
.loader h1.step1:after {
  content: '.';
}
.loader h1.step2:after {
  content: '..';
}
.loader h1.step3:after {
  content: '...';
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
/* ==========================================================================   HTML5 display definitions   ========================================================================== */
/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* * Prevents modern browsers from displaying `audio` without controls. * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4. * Known issue: no IE 6 support. */
[hidden] {
  display: none;
}
/* ==========================================================================   Base   ========================================================================== */
/* * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using *    `em` units. * 2. Prevents iOS text size adjust after orientation change, without disabling *    user zoom. */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/* * Addresses `font-family` inconsistency between `textarea` and other form * elements. */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/* * Addresses margins handled incorrectly in IE 6/7. */
body {
  margin: 0;
}
/* ==========================================================================   Links   ========================================================================== */
/* * Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}
/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================   Typography   ========================================================================== */
/* * Addresses font sizes and margins set differently in IE 6/7. * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/* * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}
/* * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/* * Addresses styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic;
}
/* * Addresses styling not present in IE 6/7/8/9. */
mark {
  background: #ff0;
  color: #000;
}
/* * Addresses margins set differently in IE 6/7. */
p,
pre {
  margin: 1em 0;
}
/* * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* * Improves readability of pre-formatted text in all browsers. */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* * Addresses CSS quotes not supported in IE 6/7. */
q {
  quotes: none;
}
/* * Addresses `quotes` property not supported in Safari 4. */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/* * Prevents `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================   Lists   ========================================================================== */
/* * Addresses margins set differently in IE 6/7. */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/* * Addresses paddings set differently in IE 6/7. */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/* * Corrects list images handled incorrectly in IE 7. */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================   Embedded content   ========================================================================== */
/* * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3. * 2. Improves image quality when scaled in IE 7. */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/* * Corrects overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================   Figures   ========================================================================== */
/* * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure {
  margin: 0;
}
/* ==========================================================================   Forms   ========================================================================== */
/* * Corrects margin displayed oddly in IE 6/7. */
form {
  margin: 0;
}
/* * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* * 1. Corrects color not being inherited in IE 6/7/8/9. * 2. Corrects text not wrapping in Firefox 3. * 3. Corrects alignment displayed oddly in IE 6/7. */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/* * 1. Corrects font size not being inherited in all browsers. * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome. * 3. Improves appearance and consistency in all browsers. */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/* * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in * the UA stylesheet. */
button,
input {
  line-height: normal;
}
/* * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` *    and `video` controls. * 2. Corrects inability to style clickable `input` types in iOS. * 3. Improves usability and consistency of cursor style between image-type *    `input` and others. * 4. Removes inner spacing in IE 7 without affecting normal text inputs. *    Known issue: inner spacing remains in IE 6. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/* * Re-set default cursor for disabled elements. */
button[disabled],
input[disabled] {
  cursor: default;
}
/* * 1. Addresses box sizing set to content-box in IE 8/9. * 2. Removes excess padding in IE 8/9. * 3. Removes excess padding in IE 7. *    Known issue: excess padding remains in IE 6. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/* * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome. * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome *    (include `-moz` to future-proof). */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/* * Removes inner padding and search cancel button in Safari 5 and Chrome * on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* * Removes inner padding and border in Firefox 3+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* * 1. Removes default vertical scrollbar in IE 6/7/8/9. * 2. Improves readability and alignment in all browsers. */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================   Tables   ========================================================================== */
/* * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hide {
  display: none !important;
}
@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Lato-Regular.woff') format("woff"), url('../fonts/Lato-Regular.ttf') format("truetype"), url('../fonts/Lato-Regular.svg#LatoRegular') format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "LatoBold";
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.eot?#iefix') format("embedded-opentype"), url('../fonts/Lato-Black.woff') format("woff"), url('../fonts/Lato-Black.ttf') format("truetype"), url('../fonts/Lato-Black.svg#LatoBlack') format("svg");
  font-style: normal;
  font-weight: 900;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333333;
}
.light {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.bold {
  font-family: "LatoBold", sans-serif;
  font-weight: 900;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
h1,
h2,
h3 {
  font-family: "LatoBold", sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.1em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
p {
  font-size: 1.1em;
}
.center {
  text-align: center;
}
a {
  font-family: "LatoBold", sans-serif;
  font-weight: 900;
  color: #ff7200;
  text-decoration: none;
}
a:hover {
  color: #db6200;
}
code {
  background: #eee;
  padding: 0 .25em;
  margin: 0 .15em;
  font-size: 1rem;
  vertical-align: baseline;
}
.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 3px;
}
@charset "UTF-8";
@font-face {
  font-family: "Icons";
  src: url("/fonts/Icons.eot");
  src: url("/fonts/Icons.eot?#iefix") format("embedded-opentype"), url("/fonts/Icons.woff") format("woff"), url("/fonts/Icons.ttf") format("truetype"), url("/fonts/Icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
[data-icon]:before {
  font-family: "Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-like:before {
  content: "a";
}
.icon-comment:before {
  content: "b";
}
.icon-arrow-right:before {
  content: "c";
}
.icon-arrow-left:before {
  content: "d";
}
.icon-close:before {
  content: "e";
}
.icon-search:before {
  content: "f";
}
.icon-location:before {
  content: "g";
}
.icon-link-external:before {
  content: "h";
}
.btn {
  display: inline-block;
  background: #ff7200;
  color: #ffffff;
  padding: 0.75em;
  border-radius: 3px;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  padding: 0;
}
.hide {
  display: none;
}
img {
  background: #eee;
}
#container {
  margin: 0 auto;
  max-width: 1200px;
  z-index: 1;
}
@keyframes popin {
  0% {
    transform: scale3d(0.01, 0.01, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
#gallery {
  position: relative;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  padding: 2em;
  padding-left: 0;
}
#gallery .thumb {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
#gallery .thumb {
  margin: 0 0 2em;
  padding-left: 2em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation-name: popin;
  animation-duration: 0.35s;
}
#gallery .thumb img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0.3em;
}
@media only screen and (min-width: 80em) {
  #gallery .thumb {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
}
@media only screen and (max-width: 60em) {
  #gallery .thumb {
    -webkit-flex-basis: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }
}
@media only screen and (max-width: 45em) {
  #gallery .thumb {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 30em) {
  #gallery .thumb {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #333333;
}
#lightbox .viewer {
  position: relative;
  max-height: 45em;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#lightbox .viewer #closeLightbox {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#lightbox .viewer .lb-photo {
  position: relative;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  max-width: 45em;
  margin-bottom: auto;
  margin-top: auto;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
}
#lightbox .viewer .lb-img {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
#lightbox .viewer img {
  margin: 0;
  max-width: 100%;
  max-height: 500px;
  border-radius: 2px;
}
#lightbox .viewer .lb-caption {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0.5em 0;
  text-align: left;
  min-width: 12em;
}
#lightbox .viewer .user-meta {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#lightbox .viewer .user-meta:before,
#lightbox .viewer .user-meta:after {
  content: " ";
  display: table;
}
#lightbox .viewer .user-meta:after {
  clear: both;
}
#lightbox .viewer .user-meta .um--photo,
#lightbox .viewer .user-meta .um--username {
  display: inline-block;
  vertical-align: middle;
}
#lightbox .viewer .user-meta .um--photo {
  height: 1.8em;
  margin-right: .4em;
  border-radius: 100%;
}
#lightbox .viewer .user-meta .um--username {
  font-family: "LatoBold", sans-serif;
  font-weight: 900;
}
#lightbox .viewer .lb-caption {
  font-size: 0.9em;
}
#lightbox .viewer .rail {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0 1.5em;
  cursor: pointer;
}
#lightbox .viewer .rail.left {
  margin-right: auto;
}
#lightbox .viewer .rail.left .arrow {
  margin-left: auto;
}
#lightbox .viewer .rail.right {
  margin-left: auto;
}
#lightbox .viewer .rail.right .arrow {
  margin-right: auto;
}
#lightbox .viewer .rail .arrow {
  opacity: 0.2;
  margin-top: auto;
  margin-bottom: auto;
  transition: opacity 0.25s ease-out;
}
#lightbox .viewer .rail:hover .arrow {
  opacity: 1;
  transition: opacity 0.05s ease-out;
}
@media only screen and (min-width: 55em) {
  #lightbox .viewer .lb-photo {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  #lightbox .viewer .lb-img {
    -webkit-flex: 0 0 63%;
    flex: 0 0 63%;
  }
  #lightbox .viewer .lb-caption {
    -webkit-flex: 0 0 36%;
    flex: 0 0 36%;
    padding-left: 1em;
  }
}
@media only screen and (max-width: 30em) {
  #lightbox .viewer .lb-photo {
    max-width: 90vw;
  }
  #lightbox .viewer .rail {
    display: none;
  }
}
.arrow {
  display: block;
  position: relative;
  width: 3.5em;
  height: 3.5em;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('../images/arrow-up-c.svg');
  background-position: center center;
  background-size: auto 2.975em;
  background-repeat: none;
  border-radius: 100%;
}
.arrow.right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.arrow.left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #333333;
  z-index: 100;
}
.user-info {
  text-align: center;
  padding: 2em;
  border-bottom: 1px solid #eeeeee;
}
.user-info .ui--user:before,
.user-info .ui--user:after {
  content: " ";
  display: table;
}
.user-info .ui--user:after {
  clear: both;
}
.user-info img {
  height: 7em;
  border-radius: 100%;
}
.user-info h1 {
  margin: 0.2em 0 0;
}
.user-info .user-counts {
  margin: .5em 0 0;
}
.user-info .user-counts span {
  display: inline-block;
}
.user-info .user-counts span:not(:last-child):after {
  display: inline-block;
  content: '•';
  margin: 0 .5em;
  color: #eeeeee;
}
@media only screen and (max-width: 45em) {
  .user-info {
    font-size: 80%;
  }
}
.auth-box {
  text-align: center;
  position: fixed;
  width: 25em;
  height: auto;
  top: 30%;
  left: 50%;
  margin-left: -12.5em;
  background: #fff;
  border-radius: 10px;
  color: #333333;
  padding: 3em;
  transition: all 0.1s ease-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.auth-box.hidden {
  transform: scale3d(0.25, 0.25, 1);
  opacity: 0;
}
#search {
  position: absolute;
  top: 0;
  left: 3em;
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 0;
  z-index: 100;
  max-height: 20em;
  overflow-y: scroll;
}
#search ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search li a {
  display: block;
  padding: .5em .75em;
}
#search li a:hover {
  background: #f3f3f3;
}
#search li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
#search .r-amp {
  color: #aaa;
  margin-right: 2px;
}
