<div class="loader">
    <h1 id="loading-text">Loading</h1>
</div>
<script>
    var Loader = function() {
    
        var $$ = this;
    
        var elSelector = '.loader';
        $$.loader = document.querySelector( elSelector );
        $$.loadingText = document.querySelector('#loading-text');
        $$.step = 0;
        $$.animationInterval = null;
        
        $$.show = function() {
            $(elSelector).removeClass('hidden');
            var step = 0;
            $$.animationInterval = window.setInterval( function() {
                if (step > 3) step = 0;
                $$.loadingText.setAttribute('class', 'step'+step);
                step++;
            }, 350);
            return $$;
        }
        
        $$.hide = function() {
            $(elSelector).addClass('hidden');
            clearInterval( $$.animationInterval )
            return $$;
        }
        
        $$.toggle = function() {
            $(elSelector).toggleClass('hidden');
        }
        
        return $$;
    };
    
    window.loader = new Loader().show();
    // setInterval( loader.toggle, 5000 );
    
</script>
