<header>

    <div class="user-info">
    
        <!-- 
            id, username, full_name, bio, website
        -->

        <div class="ui--user">
        
            <!-- User: Profile photo -->
            <img data-src="profile_picture" />
            
            <!-- User: Username -->
            <h1>
                <a data-href="http://www.instagram.com/{username}"
                   data-text="@{username}" 
                   target="_blank">&nbsp;</a>
            </h1>
        </div>
        
        <p class="user-counts">
            <span>
                <!-- User: # posts -->
                <span class="bold" data-text="counts.media"></span> posts
            </span><span>
                <!-- User: # followers -->
                <span class="bold" data-text="counts.followed_by"></span> followers
            </span><span>
                <!-- User: # people following -->
                <span class="bold" data-text="counts.follows"></span> following
            </span>
        </p>
        
    </div>

</header>