<div id="lightbox" class="lightbox hide">

    <div class="viewer">

        <!-- Left rail: outside the viewer, contains 'previous' arrow -->
        <div class="left rail" id="prevPhoto">
            <a href="javascript:void(0)" class="arrow left"></a>
        </div>
        
        <!-- Main lightbox container (with white background) -->
        <div class="lb-photo">
        
            <!-- The Photo -->
            <div class="lb-img">
                <img data-src="photo.images.standard_resolution.url" data-alt="photo.caption.text">
            </div>
            
            <!-- Metadata -->
            <div class="lb-caption">
            
                <!-- Photo: Who posted it -->
                <figure class="user-meta">
                    <img data-src="photo.user.profile_picture" class="um--photo">
                    <figcaption class="um--username" data-text="photo.user.username">drryl</figcaption>
                </figure>
                
                <!-- Photo: Caption -->
                <div class="label" data-text="photo.caption.text">New office 💻💰</div>
                
            </div>
            
        </div>
        
        <!-- Right rail: outside the viewer, contains 'next' arrow -->
        <div class="right rail" id="nextPhoto">
            <a href="javascript:void(0)" class="arrow right"></a>
        </div>
        
    </div>
    
</div>