<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Lightboxr</title>
        
        <link rel="stylesheet" href="styles/_loader.css">
        <link rel="stylesheet" href="styles/master.css">
        <!-- <script src="scripts/dom.js"></script> -->
        <!-- <script src="scripts/emoji.js"></script> -->
        <!-- <script src="scripts/routes.js"></script> -->
        <script src="scripts/utilities.js"></script>
    </head>
    
    <body>
    <!-- <body class="loading"> -->
        
        <div id="container">
        
            <!-- Loading screen -->
            <!-- include "partials/loader.html" -->
            
            <!-- User Info -->
            include "partials/header.html"
            
            <!-- Modal dialog for obtaining user authentication -->
            <div class="auth-box hidden">
            
                <p>We need an <code>access_token</code> in order to request data from Instagram's API.</p>
                
                <p>Please follow the link below and enter your Instagram credentials :)</p>
                
                <a class="btn" href="https://api.instagram.com/oauth/authorize/?client_id=9b475cf05cf94614b1aafdd7e5372548&redirect_uri=http://127.0.0.1:8797&response_type=token">Authorize App</a>
                
            </div>
            
            <!-- Feed -->
            <div id="gallery" data-show-on-load></div>
            
            <!-- Lightbox for viewing individual photos -->
            <div id="lightbox" class="lightbox hidden">
                <div class="viewer">
                    <div class="left rail">
                        <a id="prevPhoto" href="javascript:void(0)" class="arrow left"></a>
                    </div>
                    <!-- <div class="lb-photo" style="background-image: url('<%= photo.fullsize.source %>')"> -->
                    <div class="lb-photo">
                        <img data-src="images.standard_resolution.url" alt="">
                        <!-- <div class="label"><%= photo.index %></div> -->
                    </div>
                    <div class="right rail">
                        <a id="nextPhoto" href="javascript:void(0)" class="arrow right"></a>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        
        
        <!-- Header -->
        <script type="text/template" id="gallery-header">
            <h1><a href="<%= set.href %>" target="_blank"><%= set.title %></a></h1>
            <h3><%= set.total %> photos • <%= set.ownername %></h3>
        </script>
        
        <!-- Photo Thumbnail -->
        <script type="text/template" id="photo-thumbnail">
            <span class="thumb">
                <img src="<%= photo.thumbnail.source %>" 
                     alt="<%= photo.title %>"
                     data-index="<%= photo.index %>">
                <span class="label"><%= photo.title %></span>
            </span>
        </script>
        
        <!-- Lightbox Viewer -->
        <script type="text/template" id="lightbox-photo">
            <div class="viewer">
                <div class="left rail">
                    <a id="prevPhoto" href="javascript:void(0)" class="arrow left"></a>
                </div>
                <div class="lb-photo" style="background-image: url('<%= photo.fullsize.source %>')">
                    <!-- <div class="label"><%= photo.index %></div> -->
                </div>
                <div class="right rail">
                    <a id="nextPhoto" href="javascript:void(0)" class="arrow right"></a>
                </div>
            </div>
        </script>
        
        <script data-main="/scripts/main" src="/scripts/require.js"></script>
        <!-- <script src="scripts/app.js"></script> -->
        
    </body>
    
</html>